{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/number.css' %}">
<div class="container my-5">
    <h2>Giỏ hàng</h2>
    {% if cart %}
    <div class="row g-4">
        <form method="POST" class="row g-4">
            {% csrf_token %}
        <!-- Product Section -->
        <div class="col-lg-8">
            <div class="card p-3">
                {% for cart in cart %}
                <input type="hidden" name="product_{{cart.product.id}}" value="{{ cart.product.id }}">
                <div class="d-flex align-items-center border-bottom py-3 product-card">
                    <img src="/media/{{ cart.product.image1 }}" alt="Product Image" class="img-fluid rounded me-3" style="width: 80px;">
                    <div class="flex-grow-1" style="width: 50%;">
                        <h5 class="mb-1">{{ cart.product.name }}</h5>
                        {% if cart.product.sale_price %}
                        <!-- Original price with line-through -->
                        <p class="text-muted mb-0 currency" style="text-decoration: line-through; font-size: 0.9rem;">{{ cart.product.price }}</p>
                        <p class="text-muted mb-0 product-price" style="text-decoration: line-through; font-size: 0.9rem;" id="product-price-{{ cart.id }}" hidden>{{ cart.product.price }}</p>
                        <!-- Discounted price in green color -->
                        <p class="text-success fw-bold mb-0 currency" >{{ cart.product.sale_price }}</p>
                        <p class="text-success fw-bold mb-0 product-real-price" id="real-product-price-{{ cart.id }}" hidden>{{ cart.product.sale_price }}</p> 
                        {% else %}
                        <p class="text-success fw-bold mb-0 currency" >{{ cart.product.price }}</p>
                        <p class="text-success fw-bold mb-0 product-price" id="product-price-{{ cart.id }}" hidden>{{ cart.product.price }}</p>
                        <p class="text-success fw-bold mb-0 product-real-price" id="real-product-price-{{ cart.id }}" hidden>{{ cart.product.price }}</p> 
                        {% endif %}
                    </div>
                    <div class="d-flex align-items-center"  style="width: 15%;">
                        <!-- Quantity Control -->
                        <button type="button" class="btn btn-outline-secondary btn-sm " id="product-{{ cart.id }}-sub" onclick="subQuantity('{{ cart.id}}')">-</button>
                        <input type="number"  name="quantity_{{ cart.product.id }}" class="form-control text-center mx-2" id="quantity-{{ cart.id }}" value='{{cart.quantity}}' min="1" max="10" style="width: 50px; -moz-appearance: textfield; appearance: textfield; outline: none;" oninput="updateQuantity('{{ cart.id }}')" >
                        <button type="button" class="btn btn-outline-secondary btn-sm " id="product-{{ cart.id }}-add" onclick="addQuantity('{{ cart.id }}')">+</button>

                    </div>
                    <p class="text-success fw-bold ms-4 mb-0 currency" id="product-price-total-{{ cart.id }}" style="width: 15%;">{{ cart.total_price }}</p>
                    <a href="{% url 'delete_cart' cart.id %}" class="link-underline link-underline-opacity-0" style="width: 20%;">
                        Xoá sản phẩm
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>

        <!-- Checkout Section -->
        <div class="col-lg-4">
            <div class="card p-3">
                <div class="mb-3">
                    <p class="d-flex justify-content-between mb-1">
                        <span>Giá sản phẩm:</span>
                        <span class="fw-bold currency" id="total">234000</span>
                    </p>
                    <p class="d-flex justify-content-between mb-1">
                        <span>Tổng tiền thanh toán:</span>
                        <span class="fw-bold text-success currency" id="real-total">234000</span>
                    </p>
                </div>
                <button class="btn btn-warning w-100 fw-bold" type="submit">THANH TOÁN NGAY</button>
                <div class="text-center mt-4">
                    <p>Hotline hỗ trợ:</p>
                    <a href="tel:0906205279" class="text-success fw-bold">0906 205 279</a>
                </div>
            </div>
        </div>
        </form>
    </div>
    {% else %}
    <div class="alert alert-info">Không có sản phẩm nào trong giỏ hàng của bạn. Hãy mua hàng dùm chúng tôi!</div>
    {% endif %}
</div>
<script src="{% static 'js/cart.js' %}"></script>

{% include "footer.html" %}
{% endblock %}
