{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="d-flex container" style="margin: 50px auto; background-color: #F7C222; padding: 0px; border-radius: 40px;">
    <div class="col-6 d-flex align-items-center justify-content-center h-100" style="width: 40%;" >
        <img src="/media/product_title_img.png" alt="House Toy" class="w-100 h-100">
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center container-fluid" >
        <img src="/media/product_title.png" alt="House Title" class="img-fluid">
    </div>
</div>
<div class="container my-4">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'product' product.name|slugify product.pk %}" class="text-decoration-none">
            <div class="card h-100 text-center border-0 shadow-sm">
                <img src="/media/{{ product.image1 }}" class="card-img-top img-fluid rounded mx-auto d-block" 
                     alt="{{ product.name }}" style="height: 400px; object-fit: cover; width: 100%;">
                <div class="card-body">
                    <h6 class="card-title">{{ product.name }}</h6>
                    <p class="card-text fw-bold">{{ product.price }}₫</p>
                    {% if product.sale_price != '0' %}
                    <p class="card-text text-muted"><del>{{ product.sale_price }}₫</del></p>
                    {% endif %}
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}">Trước</a>
            </li>
            {% endif %}

            {% for num in products.paginator.page_range %}
            <li class="page-item {% if products.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}">Tiếp</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>



{% include "footer.html" %}
{% endblock %}
