{% extends "base.html" %}
{% block content %}
<!-- Load static -->
{% load static %}
<!-- Custom Styles -->
<footer class="py-5" style="background-color: #F0DACD;">
    <div class="container">
        <!-- Subscription Section -->
        <div class="row mb-4">
            <div class="col-lg-8">
                <h4 class="fw-bold">EcoSmart Toys luôn lắng nghe bạn!</h4>
                <p>Chúng tôi luôn trân trọng và mong muốn nhận được mọi phản hồi từ khách hàng để có thể cải thiện dịch vụ, sản phẩm và mang tới trải nghiệm tốt hơn.</p>
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                <input type="email" class="form-control me-2" placeholder="Nhập email của bạn">
                <button class="btn btn-primary" style="width: 70%;;">Đăng ký ngay</button>
            </div>
        </div>
        
        <!-- Horizontal Line -->
        <hr style="border-top: 2px solid #C9B079;">

        <!-- Links Section -->
        
            <div class="row">
                <!-- Column 1: Per aiutare -->
                <div class="col-12 col-md-6 col-lg-2 flex-fill mb-4">
                    <h5 class="fw-bold">Per aiutare</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Consegna</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Ritorno</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Domande frequenti</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Pagamento sicuro</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Privacy e sicurezza</a></li>
                    </ul>
                </div>
        
                <!-- Column 2: Chi siamo -->
                <div class="col-12 col-md-6 col-lg-2 flex-fill mb-4">
                    <h5 class="fw-bold">Chi siamo</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">La nostra storia</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Sicurezza e idonetà</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Generali T $ C</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Commercio equo</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Mappa del sito</a></li>
                    </ul>
                </div>
        
                <!-- Column 3: Commercio -->
                <div class="col-12 col-md-6 col-lg-2 flex-fill mb-4">
                    <h5 class="fw-bold">Commercio</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Rivenditori esterni</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Diventa un rivenditore</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Fiere e Convegni</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Termini e condizioni</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Pubbliche relazioni</a></li>
                    </ul>
                </div>
        
                <!-- Column 4: Supporto -->
                <div class="col-12 col-md-6 col-lg-2 flex-fill mb-4">
                    <h5 class="fw-bold">Supporto</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Il mio conto</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Contattaci</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Spedizione</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Spedizione estiva</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Richiamare</a></li>
                    </ul>
                </div>
        
                <!-- Column 5: Mạng xã hội -->
                <div class="col-12 col-md-6 col-lg-2 flex-fill mb-4">
                    <h5 class="fw-bold">Mạng xã hội</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Instagram</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Facebook</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Twitter</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">YouTube</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Pinterest</a></li>
                    </ul>
                </div>
           
        </div>
        
    </div>
</footer>




{% endblock %}
